/* TODO: Make it awesome */

h1 {
    font-size: 20px;
    background-color: palevioletred;
}

body {
    background-color: rgb(95, 164, 243);
    margin: 50px;
}

ul {
    background-color: palevioletred;
    color: whitesmoke;
}

nav li {
    color: whitesmoke;
}